# Numerous always-ignore extensions
*.ai
*.zip
*.psd
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.sass-cache
.sass-cache/*

# OS or Editor folders
.DS_Store
Thumbs.db

Gemfile.lock